body{
    font-family: 'PT Serif', serif;
}
section{
    disply:flex;
}
p{
    width:40%;
}
.edit{
    width:100%;
}
.edit img{
    width:50%;
}
.text-deco{
    text-decoration: none;
    background-image:linear-gradient(orange,tomato);
    padding:10px 40px;
    font-weight:500px;
    color:white;
    border-radious:5px;
}
}